a, a:visited, a:hover{
  color: black;
}

a.btn, a.btn-primary{
  color:white;
}

ul{
  list-style: none;
}

#bodycontent{
  height:100vh;
  width: 100%;
  position:relative;
  background-size: 100vw;
}

#header {
  width: 100%;
  height: 5vh;
  padding-left: 0.5em;
  background-color: #0069d9;
}

#renderbody{
  overflow-y:scroll;
  height: 90vh;
  width:80%;
  margin: auto;
  padding-left:1em;
  padding-right:1em;
}

#footer {
  width: 100%;
  top: 95vh;
  left: 0px;
  padding-left: 0.5em;
  background-color: #0069d9;
  height: 5vh;
}