<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Epicodus Library</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="~/css/splash.css">
  <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
  <div id="bodycontent">
    <div id="header"></div>
    <div id="renderbody">
      <div class="jumbotron">
        <h1>Library</h1>
        <p>@Html.ActionLink("Login", "Login", "Account")</p>
        <p>@Html.ActionLink("Register", "Register", "Account")</p>
        <span id= "clock"></span>
      </div>
    </div>
    <div id="footer"></div>
  </div>
  <script src="~/js/scripts.js"></script>
</body>
</html>