<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Factory Manager</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
  <div id="bodycontent">
    @await Html.PartialAsync("Header")
    <div id="renderbody">@RenderBody()</div>
    @await Html.PartialAsync("Footer")
  </div>
  <script src="~/js/scripts.js"></script>
</body>
</html>