@{
  Layout = "_Layout";
}

@using Library.ViewModels

@model LoginViewModel

<h2>Log in with your account</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.Raw("User Name: ")
    @Html.TextBoxFor(m => m.UserName, new {placeholder="Username"})

    @Html.Raw("Password: ")
    @Html.PasswordFor(m => m.Password, new {placeholder="Password"})

    <input type="submit" value="Log in" class="btn btn-default" />
}